<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início - Práticas de JavaScript</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header class="header-main">
        <h1>Lógica de programação com Java Script</h1>
    </header>

    <main class="main-content">
        <h2>Módulos em andamento</h2>
        
        <div class="module-list">
            <a href="logica-js.html" class="module-item modulo-habilitado">
                <h3>Introdução ao Java Script</h3>
            </a>
            
            <a href="manipulacao-dom.html" class="module-item modulo-desabilitado">
                <h3>Manipulação do DOM</h3>
            </a>
            
            <a href="#" class="module-item modulo-desabilitado">
                <h3>Validações de Campos</h3>
            </a>
            
            <a href="#" class="module-item modulo-desabilitado">
                <h3>Condicionais</h3>
            </a>
         
            <a href="#" class="module-item modulo-desabilitado">
                <h3>Laço de Repetição</h3>
            </a>
            
            <a href="#" class="module-item modulo-desabilitado">
                <h3>Arrays e Objetos</h3>
            </a>
            
            <a href="#" class="module-item modulo-desabilitado">
                <h3>Funções async/await</h3>
            </a>
        </div>
    </main>
    
</body>
</html>